.wrapper {
    margin: 10px;
    height: calc(100vh - 100px);

    td {
        padding: 5px;
    }
}

.headerCell {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.colRight {
    text-align: right;
}

.colCenter {
    text-align: center;
}

.row {
    align-items: stretch;
    justify-content: space-between;
}

.colId {
    width: 5%;
}

.colAssetName {
    width: 60%;
}

.colPrice {
    width: 10%;
}

.colLastUpdate {
    width: 10%;
}

.colType {
    width: 10%;
}

.colFavourites {
    width: 5%;
}
